*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
:root{
    --back-ground: white;
    --blue:rgb(24, 119, 242);
    --font: 'Cairo', sans-serif;
}
body{
    font-family: var(--font);
    background-color: #f2f5fc;
}
section{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 20px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.header i{
    background-color: var(--blue);
    padding:13px 17px;
    color: var(--back-ground);
    font-size: 30px;
    border-radius: 50%;
}
.header p:nth-child(2){
    color: rgb(92, 0, 145);
}
.title,
.file{
    background-color: var(--back-ground);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.164);
}
.title span:nth-child(1),
.file span:nth-child(1){
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 20px;
}
.title span:nth-child(1) i{
    font-size: 24px;
}
.title span,
.file span{
    width: 100%;
}
.title span p,
.file span p {
    text-align: right;
    margin-bottom: 10px;
}
input,
textarea{
    width: 98%;
    height: 30px;
    margin-bottom: 10px;
    border: 2px solid #c9c9c9;
    border-radius: 5px;
    padding: 5px;
    font-family: var(--font);
    text-align: right;
}
textarea{
    height: 80px;
}
section form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.file{
    margin-top: 20px;
}
.btn{
    display: flex;
    flex-direction: row-reverse;
}
button{
    margin: 10px;
    font-family: var(--font);
    padding: 2px 20px;
    border-radius: 5px;
    
    cursor: pointer;
}
.btn button:nth-child(1){
    border: none;
    color: var(--back-ground);
    background-color: var(--blue);
}
.btn button:nth-child(2){
    border: 2px solid #c2c2c2;
}