*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --border : rgba(142, 142, 142, 0.416);
    --font : 'Cairo', sans-serif;
    --font2: "Tajawal", sans-serif;
    --color :  rgb(78, 38, 255);
    --back : white;
}
body{
    font-family: "Tajawal", sans-serif;
    background-color: #eeeeee;
}
.page{
    display: flex;
    flex-direction: row-reverse;
}
.mune{
    background-color: white;
    width: 17%;
    height: 650px;
    border: 2px solid var(--border);
    border-bottom: none;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100px;
    padding-left: 30px;
    border-bottom: 2px solid var(--border);
}
.title h3{
    color: var(--color);
    font-size: 16px;
}
.sidebar-menu{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
.sidebar-menu li{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    padding: 5px 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.6s background-color ;
}
.sidebar-menu li:hover{
    color: white;
    background-color: var(--color);
}
.log_out{
    margin-top: 60px;
    padding: 15px;
    border-top: 2px solid var(--border);
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;

}
.log_out ul li{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
    gap: 12px;
    padding: 5px 10px;
    cursor: pointer;
}
.log_out ul li:nth-child(2){
    color: red;
}
.content{
    width: 83%
}
.serch {
    background-color: var(--back);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.serch .continer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 20px;
}
.serch input{
    font-family: var(--font);
    width: 92%;
    border: none;
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 6px 10px;
    font-size: 12px;
}
.serch .continer button{
    background-color: var(--color);
    font-family: var(--font);
    color: var(--back);
    border: none;
    width: 50px;
    border-radius: 5px;
    cursor: pointer;
}
/*الصفحه الرئيسيه*/
.home_page{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header_home{
    width: calc(100% - 50px);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 30px;
    row-gap: 30px;
    
}
.card{
    border: 2px solid var(--border);
    height: 120px;
    width: 22%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: var(--back);
    border-radius: 10px;
    gap: 20px;
}

.header_icon{
    padding: 15px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_home div i{
    font-size: 20px;
}

.sales{
    background-color: var(--back);
    width: 92%;
    border: 2px solid var(--border);
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.title_sale{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
    flex-direction: row-reverse;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--border);
}
.title_sale i{
    color: var(--color);
}
.table-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    overflow: hidden;
    width: 100%;
    margin: auto;
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

thead {
    background-color: #4f46e5;
    color: #fff;
}

thead th {
    padding: 15px;
    font-size: 15px;
}

tbody td {
    padding: 15px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 14px;
    color: #333;
}

tbody tr:hover {
    background-color: #f9f9ff;
}
.status {
    display: inline-block;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 500;
}
.status.success {
    background-color: #dcfce7;
    color: #15803d;
}

.status.pending {
    background-color: #fef9c3;
    color: #a16207;
}

.status.failed {
    background-color: #fee2e2;
    color: #b91c1c;
}
.profit {
    color: #16a34a;
    font-weight: bold;
}

.price {
    color: #2563eb;
    font-weight: bold;
}
.not_active{
    display: none;
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.add_section{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 15px 40px;
    margin-top: 20px;
}
.add_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font2);
    width: 150px;
    padding: 10px;
    gap: 10px;
    color: white;
    border: none;
    background-color: var(--color);
    border-radius: 5px;
    font-weight: 600;
}
.sections{
    background-color: var(--back);
    width: 97%;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--border);
}
.section_serch{
    width: 100%;
}
.section_serch input{
    width: 95%;
    padding: 5px;
    border: none;
    background-color: #eeeeee;
    height: 30px;
    border-radius: 5px;
    font-family: var(--font2);
    text-align: right;
}
.section_serch button{
    width: 4%;
    height: 30px;
    font-family: var(--font2);
    background-color: var(--color);
    color: white;
    border: none;
    border-radius: 5px;
}
.ul {
    width: 400px;
    background-color: #eeeeee;
    border-radius: 20px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.ul ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}
.ul ul li{
    padding: 5px 15px;
    border-radius: 20px;
}
.ul ul li:hover{
    cursor: pointer;
}
.li_active{
     background-color: white;
}
.vendor{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.vendor_img{
    width: 40px;
    height: 40px;
}
.vendor_img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid var(--border);
}
/*المقالات*/
.artcal_card{
    width: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    border: 2px solid var(--border);
    padding: 30px 20px;
    border-radius: 12px;
}
.artcal_title{
    display: flex;
    gap: 50px;
    flex-direction: column;
    
}
.artcal_title ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}
.data,
.view{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.artcal_title ul li{
    color:#929292
}
.arctal_subtitle{
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
}
.edit{
    display: flex;
    gap: 20px;
}
.edit i {
    cursor: pointer;
}
.edit i:nth-child(1){
    color: var(--color);
}
.edit i:nth-child(2){
    color: red;
}
/*روابط التواصل الاجتماعي */
.socail_box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 20px;
    margin-right: 50px;
}
.socail_card{
    width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--border);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    height: 200px;
}
.socail_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: row-reverse;
}
.socail_icon i{
    font-size: 24px;
    padding: 7px 9px;
    border-radius: 10px;
}
.fa-facebook-f{
    color: #4f46e5;
    background-color: #2564eb34;
}
.fa-instagram{
    color: #b91c1c;
    background-color: #b91c1c34;
}
.fa-linkedin-in{
    color: #180cfc;
    background-color: #180cfc49;
}
.fa-whatsapp{
    color: #16a34a;
    background-color: #16a34a38;
}
.fa-envelope{
    color: red;
    background-color: rgba(255, 123, 0, 0.212);
}
.socail_link{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}
.socail_link input{
    width: 100%;
    height: 35px;
    background-color: #eeeeee;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    font-family: var(--font);
}
.socail_link p{
    color: #707070;
}
.socail_view{
    width: calc(100% - 60px);
    margin-top: 20px;
    background-color: white;
    height: 150px;
    border-radius: 10px;
    border: 2px solid var(--border);
    padding: 20px 10px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 50px;
}
.social_text p{
    font-size: 20px;
    font-weight: 500;
}
.pay{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.pay i{
    font-size: 20px;
    cursor: pointer;
}
.pay i:nth-child(1){
    color: var(--color);
}
.pay i:nth-child(2){
    color: red;
}
.active{
    background-color: var(--color);
    color: white;
}
textarea{
    font-family: var(--font2);
    border: none;
    background-color: inherit;
    text-align: center;
}
.sheet{
    font-family: var(--font2);
    color: white;
    border: none;
    background-color: #2563eb;
    padding: 2px 50px;
    cursor: pointer;
}
.sale_btnserch{
     font-family: var(--font2);
    background-color: var(--color);
    color: white;
    margin-right: 5px;
    border: none;
    padding: 8px 23px;
    border-radius: 5px;
    cursor: pointer;
}
